<app-navbar></app-navbar>

<div class="login-container">

  <!-- LEFT -->
  <div class="login-left">
    <img src="assets/login-karate.png" alt="Karate">
  </div>

  <!-- RIGHT -->
  <div class="login-right">

    <div class="glass-card">

      <h2>Welcome Back</h2>
      <p>Login to your account</p>

      <form (ngSubmit)="onLogin()">

        <!-- EMAIL -->
        <div class="input-group">
          <input type="email"
                 [(ngModel)]="email"
                 name="email"
                 required>
          <label>Email</label>
        </div>

        <!-- PASSWORD -->
        <div class="input-group password-group"
             [class.shake]="shake">

          <input [type]="showPassword ? 'text' : 'password'"
                 [(ngModel)]="password"
                 name="password"
                 required>

          <label>Password</label>

          <!-- MODERN EYE BUTTON -->
          <button type="button"
                  class="eye-toggle"
                  (click)="togglePassword()">
            {{ showPassword ? 'Hide' : 'Show' }}
          </button>

        </div>

        <!-- ERROR -->
        <p class="error" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>

        <!-- TIMER -->
        <p class="timer" *ngIf="lockTime > 0">
          Try again in {{ lockTime }}s
        </p>

        <!-- FORGOT -->
        <p class="forgot" (click)="forgotPassword()">
          Forgot Password?
        </p>

        <!-- BUTTON -->
        <button type="submit"
                class="login-btn"
                [disabled]="lockTime > 0 || isLoading">

          {{ isLoading ? 'Please wait...' : 'Login' }}

        </button>

      </form>

      <p class="register-text">
        Not a user?
        <span (click)="goToRegister()">Register</span>
      </p>

    </div>

  </div>

</div>